.button {
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.detalhesAberto {
    background-color: #0E426E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 1rem;
    padding: 0.8em 10em;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
}

.detalhesAberto:hover {
    background-color: #171719;
}

.processosAtendimentoBotao {
    display: flex;
}

.separacaoBotoes {
    margin-right: 5em;
}

@media only screen and (max-width: 1190px) {
    .detalhesAberto {
        padding: 0.7em 5em;
    }
}